<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add contact</title>
</head>
<body>
<form action="/contacts/create" method="post">
    <h1>Create contact</h1>

    <label>Name: <input type="text" name="Name"></label>
    <br><br>
    <label>Number: <input type="text" name="Number"></label>
    <br><br>
    <label>Note: <input type="text" name="Note"></label>
    <br><br>    
    <input type="submit" name="Create contact" value="Create">
    <br><br>
</form>
</body>
</html>